@import url("https://fonts.googleapis.com/css?family=Inconsolata");

@font-face {
  font-family: "trend_sansfour";
  src: url("latinotype_-_trendsansfour-webfont.woff2") format("woff2"),
    url("latinotype_-_trendsansfour-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 15px/1.5 Inconsolata, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-family: trend_sansfour, Source Code Sans, Inconsolata, sans-serif;
}

h2 {
  color: #2f2f30;
  font-size: 60px;
  font-weight: normal;
  font-family: trend_sansfour, Source Code Sans, Inconsolata, sans-serif;
}

p {
  font-size: 20px;
}

/* Header */
header {
  /* background: #35424a; */
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
  /* border-bottom: #e8491d 3px solid; */
}

header a {
  color: #c2c8cc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
  font-weight: 900;
  font-family: Source Code Pro, Inconsolata, sans-serif;
  border: 3px solid #dbdbdb;
  padding: 0 2px 0 6px;
}

header nav {
  letter-spacing: 3px;
  float: right;
  margin-top: 14px;
  color: #c2c8cc;
}

header .highlight,
header .current a {
  color: #dbdbdb;
  letter-spacing: 3px;
  font-weight: lighter;
}

header a:hover {
  color: #a1a7ac;
  transition: all 200ms ease;
}

#hero {
  color: #ffffff;
  text-align: center;
}

#hero .container {
  height: auto;
}

#hero h1 {
  font-family: trend_sansfour, Source Code Pro, Inconsolata, sans-serif;
  color: #282d2c;
  letter-spacing: 5px;
  margin-top: 300px;
  font-size: 90px;
  margin-bottom: 10px;
  display: inline-block;
  margin-bottom: 0;
}

#hero p {
  color: #282d2c;
  font-size: 25px;
  margin-bottom: 300px;
  margin-top: 0;
}

#hero img {
  width: 30px;
  height: 30px;
  padding: 17px 4px 0px 4px;
}

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
}

#about {
  background: #c7cdd0;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #282d2c;
  font-size: 18px;
  min-height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about h2 {
  margin: 0;
  font-family: trend_sansfour, Source Code Pro, Inconsolata, sans-serif;
  letter-spacing: 5px;
  justify-content: center;
}

#about img {
  margin-right: 50px;
}

#about .bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#about .description {
  max-width: 500px;
  line-height: 1.8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

#portfolio {
  background: url("img/cottoncandy.jpg");
  background-attachment: fixed;
  text-align: center;
  min-height: 750px;
}

#portfolio h2 {
  margin-top: 150px;
  font-size: 60px;
  letter-spacing: 10px;
}

#portfolio p {
  margin-bottom: 150px;
  color: #2f2f30;
}

#portfolio .container {
  margin: auto;
  width: 80%;
}

.resp-container img {
  width: 950px;
}

#contact {
  position: relative;
}
#contact .container {
  position: static;
}

#contact {
  text-align: center;
  min-height: 750px;
  background: #c7cdd0;
}
#contact h2 {
  margin-top: 130px;
  font-size: 60px;
  letter-spacing: 10px;
}

.contact-form {
  height: 330px;
}

.form-style {
  font-family: Source Code Pro, Inconsolata, sans-serif;
  letter-spacing: 1px;
  border: 1px solid #2f2f30;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 5px;
  width: 450px;
}

textarea[name="message"] {
  height: 150px;
  margin-bottom: -10px;
}

textarea {
  resize: none;
}

.button {
  font-family: Source Code Pro, Inconsolata, sans-serif;
  letter-spacing: 2px;
  background-color: #2f2f30;
  color: lightgrey;
  border: none;
  padding: 20px 40px 20px 40px;
  cursor: pointer !important;
  margin-top: -23px;
  margin-left: -70px;
  position: absolute;
}

footer {
  padding: 10px;
  margin-top: 5px;
  color: #dbdbdb;
  text-align: center;
}

footer p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: lighter;
  font-family: Inconsolata, Source Code Pro, sans-serif;
}
